

/*---------CSS GENERALES-------------*/

body{
  font-family:Source Sans Pro;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Fjalla One;
}



/*---------CSS GENERALES-------------*/



/*---------Init Nav-------------*/
.header{
background-color:#1c3643;
color: white;
}

body > header > div > nav > ol > li:nth-child(1) > a,
body > header > div > nav > ol > li:nth-child(2) > a,
body > header > div > nav > ol > li:nth-child(3) > a {
  color: white;
  text-decoration: none;
}
          /*---------End Nav-------------*/


/*---------Init Presentación-------------*/
h1{
  color: white;
  line-height: 50px;
  letter-spacing: -2px;
}

h1 strong{
  color: #17a2b8;
}
          /*---------End Presentación-------------*/



/*---------Init Portfoli-------------*/
.project{
  border: 1px solid grey;

}


          /*---------End Portfoli-------------*/
