

/*---------CSS GENERALES-------------*/

body{
  font-family:Source Sans Pro;

}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Fjalla One;
}



/*---------CSS GENERALES-------------*/



/*---------Init Nav-------------*/
header{
  background: #1c3643;
 border: 1px solid red;
 padding: 0 20px 20px 0;
}

.nav{
  display:flex;
}






.hero{

  margin: 20px;
  /*padding: 50px;*/
  border-radius: 10px;
  justify-content: space-between;
display: flex;
}

.hero .Container{
  width: 1247px;
}

.hero .Container .row{
  width: inherit;
  margin-left: 0px;
  border: 1px solid grey;
  border-radius: 10px;
}

.hero-img{
  object-fit: cover;
  align-self: flex-end;
}



          /*---------End Nav-------------*/


/*---------Init Presentación-------------*/
h1{
  color: white;
  line-height: 50px;
  letter-spacing: -2px;
  margin-left: 20px;
}

h1 strong{
  color: #17a2b8;
}
          /*---------End Presentación-------------*/



/*---------Init Portfoli-------------*/
.portfolio{
  margin: 50px;

}
h2{
  margin-bottom: 50px;
  color: #026fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.project{
  border: 1px solid grey;
  /*margin: 50px;*/
  padding: 50px;
  border-radius: 10px;

}

.project_content{
  font-size: 18px;
}

.expertice_event{
  border: 1px solid grey;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;

}

.cont{
  margin: 50px;
  padding: 50px;
}

.expertice_event{
  display: flex;
}

.event img {
  width: 450px;
  height: 200px;
  object-fit: cover;
}

.event {
  margin: 10px;
  width: 450px;
  border: 1px solid grey;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.event_detail{
  margin: 20px 40px;
  margin-top: -45px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align:center;

}

.event_url{
  border: 1px solid grey;
  border-radius: 15px;
}

.expertice_event{
  flex-wrap: wrap;
}
          /*---------End Portfoli-------------*/


/*---------Init Contact-------------*/
.contact{
  background-color: #056fff;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-between;

}
.social{
  /*border: 1px solid grey;*/
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  background-size: 50px 50px;
}

.social-link.twitter{
  background-image: url('../Images/twitter.svg');

}

.social-link.facebook{
  background-image: url('../Images/facebook.svg');

}
.social-link.github{
  background-image: url('../Images/github.svg');

}
.social-link.instagram{
  background-image: url('../Images/instagram.svg');

}

form-email

      /*---------End Contact-------------*/
.footer{
  color: white;
  background-color:#1c3643;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}
